.footer {
    width: 100%;
    padding: 1.5% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

@media(max-width: 600px) {
    .footer_content {
        width: 80%;
    }
}

@media((min-width: 600px) and (max-width: 1250px)){
    .footer_content {
        width: 40%;
    }
}

