.button, .delete_button, .button_div button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.8s;
}

.delete_button {
    left: 10px;
    bottom: 10px;
}

.button_div {
    width: 100%;
    /* background-color: aqua; */
    margin-top: 30px;
    text-align: center;
}



.button:hover, .delete_button:hover, .button_div button:hover {
    background-color: #E05D5D;
}

