.input_field_container {
    width: 100%;
    margin-bottom: 20px;
}

.input_field_content {
    width: 100%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.input_field {
    display: flex;
    justify-content: center;
    align-items: center;
}


.input_field input[type=text], .input_field input[type=password] {
    width: 100%;
    border: none;
    border-bottom: 0.5px solid rgb(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #92a9bd42;
}

.input_field input[type=text]:focus, .input_field input[type=password]:focus {
    outline: none;
}

