.devices {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #FF6363;
    display: flex;
    justify-content: center;
    align-items: center;
}

.devices_content {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}